<h1>Contact us</h1>

<p>This site has been created by <a href="https://www.campop.geog.cam.ac.uk/">CAMPOP</a> (The Cambridge Group for the History of Population and Social Structure).</p>

<h2>Contact details</h2>

<div class="graybox">
	<p>You can contact us at <strong>campop<span>&#64;</span>geog.cam.ac.uk</strong>.</p>
	<p>Project contacts: <a href="https://www.campop.geog.cam.ac.uk/people/reid/" target="_blank">Alice Reid</a> and <a href="https://www.campop.geog.cam.ac.uk/people/arulanantham/" target="_blank">Sophy Arulanantham</a>.</p>
</div>

