
<h1>Resources</h1>


<h2>User guide</h2>

<p><a href="{$baseUrl}/resources/userguide.pdf">User guide</a> - one-sheet poster, pointing out key parts of the user interface.</p>
<p><a href="{$baseUrl}/resources/userguide.pdf" class="noautoicon"><img class="resource" src="{$baseUrl}/resources/userguide.png" alt="Populations Past user guide" width="150" height="106" /></a></p>


<h2>Podcasts</h2>
<P>Podcast interviews with census experts created in partnership with Year 8 students from South Wales, as part of our AHRC-ESRC funded <a href="https://ahrc.ukri.org/research/readwatchlisten/features/public-engagement-with-the-census-research/" target="_blank">Engaging the Public in Census 2021 project: Census taking over time</a> – a project by schools and for schools.</p>

<div class="graybox clearfix">
	<h3>Centuries of Censuses Podcast No 1: Year 8 talk to Dr Catherine Sumnall</h3>
	<img src="{$baseUrl}/resources/podcast1.png" width="300" class="right" />
	<br />
	<audio controls="controls">
		<source src="{$baseUrl}/resources/podcast1.mp3" type="audio/mpeg" />
	</audio>
</div>

<div class="graybox clearfix">
	<h3>Centuries of Censuses Podcast No 2: Year 8 talk to Professor Eddy Higgs</h3>
	<img src="{$baseUrl}/resources/podcast2.png" width="300" class="right" />
	<br />
	<audio controls="controls">
		<source src="{$baseUrl}/resources/podcast2.mp3" type="audio/mpeg" />
	</audio>
</div>

<div class="graybox clearfix">
	<h3>Centuries of Censuses Podcast No 3: Year 8 talk to Dame Jil Matheson, former National Statistician and Professor Kevin Schurer</h3>
	<img src="{$baseUrl}/resources/podcast3.png" width="300" class="right" />
	<br />
	<audio controls="controls">
		<source src="{$baseUrl}/resources/podcast3.mp3" type="audio/mpeg" />
	</audio>
</div>

<h2 class="new">Exploring the census with Year 8</h2>
<p>Year 8 students from Radyr Comprehensive School in Cardiff worked with us to co-produce a learning resource about exploring the census in the past and present. They explored the Populations Past and Data Shine websites to discover interesting facts about their local area and compared them with other parts of England and Wales. This learning resource tells you what they found particularly interesting and suggests similar explorations you can try with other Key Stage 3 students.</p>
<p>This resource was co-produced as part of the 'Engaging the Public in Census 2021 project: Census taking over time - a project by schools and for schools', funded by the Arts and Humanities Research Council (AHRC) and Economic and Social Research Council (ESRC), part of UK Research and Innovation.</p>
<ul>
	<li><a href="{$baseUrl}/resources/exploringthecensus.pdf">Exploring the census with Year 8 (PDF)</a></li>
	<li><a href="{$baseUrl}/resources/exploringthecensus.docx">Exploring the census with Year 8 (Word)</a></li>
</ul>

<h2>Resources for teachers</h2>

<p>Here you will find a selection of worksheets addressing topics which may be of interest to geography and history students working at Key Stage 3, GCSE or A Level. Those teaching, or studying, other subjects such as sociology, social studies, statistics and mathematics may also find the topics of interest.</p>
<p>You are welcome to download and use the worksheets provided, or to amend them to suit your own needs.</p>

<ul>
	<li><a href="{$baseUrl}/resources/urbanisation_schools_worksheet.docx">Exploring urban growth, 1851-1911 - worksheet</a></li>
	<li><a href="{$baseUrl}/resources/changing_places_schools_worksheet.docx">Changing places, exploring the past and change over time - worksheet</a></li>
	<li><a href="{$baseUrl}/resources/growing_up_schools_worksheet.docx">Growing up in Victorian and Edwardian England and Wales - worksheet</a></li>
</ul>

<p><em>Further worksheets will be added in due course.</em></p>

<h2>Image gallery</h2>

<p>Here we provide a gallery of historical photographs which illustrate the different types of places in England and Wales defined by their occupational structure and population density as shown in the PopulationsPast website. We also provide short overviews of each type of place category explaining where they were concentrated geographically.</p>
<p>You are welcome to download and use the photographs and slides in the image gallery for personal interest or class teaching and learning.</p>

<ul>
	<li class="new">Image gallery: <a href="populations_past_image_gallery.pptx">Powerpoint</a> / <a href="populations_past_image_gallery.pdf">PDF</a></li>
</ul>

<h2>Articles</h2>

<ul>
	<li><a href="{$baseUrl}/resources/impact.pdf">A short article about our parent project, published in Impact magazine, 2018</a></li>
</ul>


<h2>National RSD maps</h2>

<p>The <a href="{$baseUrl}/">online map</a> allows users to look at maps showing a variety variables for the whole of England and Wales at the Registration District level and then to zoom into see the values of the same variables for their choice of Registration Sub-Districts.</p>
<p>Unfortunately browser speed constraints mean that it is not possible, even in full screen mode, to see the 'national picture' made up of all the Registration Sub-Districts in this interactive mode.</p>
<p>Here we provide suites of 'static' maps showing the values of selected variables at the Registration Sub-District level at each available census year for the whole of England and Wales.</p>
<p>The maps may be used to compare 'local' details to 'the national picture'.</p>
<p>These maps may be reproduced as long as they retain the copyright reference.</p>
<p>Please note that the boundaries shown are for Registration Counties, Registration Sub-District boundaries have not been reproduced for the sake of clarity.</p>

<table class="lines">
	<tr>
		<td>Population density:</td>
		<td><a href="{$baseUrl}/resources/pop_dens_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/pop_dens_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/pop_dens_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/pop_dens_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/pop_dens_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/pop_dens_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/pop_dens_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Type of place:</td>
		<td><a href="{$baseUrl}/resources/type_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/type_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/type_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/type_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/type_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/type_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/type_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Total Fertility Rate:</td>
		<td><a href="{$baseUrl}/resources/tfr_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/tfr_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/tfr_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/tfr_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/tfr_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/tfr_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/tfr_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Total Marital Fertility Rate:</td>
		<td><a href="{$baseUrl}/resources/tmfr_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/tmfr_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/tmfr_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/tmfr_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/tmfr_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/tmfr_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Legitimate birth rate:</td>
		<td><a href="{$baseUrl}/resources/legit_rate_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/legit_rate_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/legit_rate_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/legit_rate_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/legit_rate_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/legit_rate_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Illegitimate birth rate:</td>
		<td><a href="{$baseUrl}/resources/ileg_rate_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/ileg_rate_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/ileg_rate_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/ileg_rate_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/ileg_rate_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/ileg_rate_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Illegitimacy Ratio:</td>
		<td><a href="{$baseUrl}/resources/ileg_ratio_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/ileg_ratio_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/ileg_ratio_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/ileg_ratio_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/ileg_ratio_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/ileg_ratio_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/ileg_ratio_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Age at marriage (female):</td>
		<td><a href="{$baseUrl}/resources/f_smam_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/f_smam_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/f_smam_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/f_smam_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/f_smam_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/f_smam_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Age at marriage (male):</td>
		<td><a href="{$baseUrl}/resources/m_smam_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/m_smam_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/m_smam_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/m_smam_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/m_smam_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/m_smam_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Celibacy (women):</td>
		<td><a href="{$baseUrl}/resources/f_cel_4554_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/f_cel_4554_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/f_cel_4554_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/f_cel_4554_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/f_cel_4554_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/f_cel_4554_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Celibacy (men):</td>
		<td><a href="{$baseUrl}/resources/m_cel_4554_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/m_cel_4554_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/m_cel_4554_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/m_cel_4554_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/m_cel_4554_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/m_cel_4554_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Infant Mortality Rate:</td>
		<td><a href="{$baseUrl}/resources/imr_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/imr_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/imr_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/imr_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/imr_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/imr_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/imr_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Early Childhood Mortality Rate:</td>
		<td><a href="{$baseUrl}/resources/ecmr_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/ecmr_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/ecmr_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/ecmr_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/ecmr_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/ecmr_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Doctors:</td>
		<td><a href="{$baseUrl}/resources/doc_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/doc_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/doc_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/doc_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/doc_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/doc_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Lone parent households:</td>
		<td><a href="{$baseUrl}/resources/sp_fam_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sp_fam_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/sp_fam_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sp_fam_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sp_fam_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sp_fam_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Single person households:</td>
		<td><a href="{$baseUrl}/resources/single_per_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/single_per_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/single_per_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/single_per_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/single_per_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/single_per_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Households with boarders:</td>
		<td><a href="{$baseUrl}/resources/board_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/board_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/board_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/board_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/board_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/board_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Households with kin:</td>
		<td><a href="{$baseUrl}/resources/hh_kin_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/hh_kin_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/hh_kin_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/hh_kin_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/hh_kin_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/hh_kin_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Households with live-in servants:</td>
		<td><a href="{$baseUrl}/resources/house_serv_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/house_serv_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/house_serv_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/house_serv_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/house_serv_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/house_serv_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Dependency ratio:</td>
		<td><a href="{$baseUrl}/resources/depend_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/depend_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/depend_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/depend_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/depend_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/depend_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/depend_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Child dependency ratio:</td>
		<td><a href="{$baseUrl}/resources/c_work_age_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/c_work_age_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/c_work_age_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/c_work_age_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/c_work_age_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/c_work_age_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/c_work_age_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Old age dependency ratio:</td>
		<td><a href="{$baseUrl}/resources/eld_work_a_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/eld_work_a_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/eld_work_a_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/eld_work_a_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/eld_work_a_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/eld_work_a_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/eld_work_a_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Average age:</td>
		<td><a href="{$baseUrl}/resources/av_age_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/av_age_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/av_age_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/av_age_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/av_age_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/av_age_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/av_age_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Average age for women:</td>
		<td><a href="{$baseUrl}/resources/av_age_f_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/av_age_f_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/av_age_f_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/av_age_f_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/av_age_f_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/av_age_f_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/av_age_f_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Average age for men:</td>
		<td><a href="{$baseUrl}/resources/av_age_m_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/av_age_m_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/av_age_m_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/av_age_m_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/av_age_m_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/av_age_m_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/av_age_m_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Irish born:</td>
		<td><a href="{$baseUrl}/resources/irish_born_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/irish_born_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/irish_born_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/irish_born_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/irish_born_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/irish_born_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Sex ratio:</td>
		<td><a href="{$baseUrl}/resources/sr_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sr_1861.pdf">1861</a></td>
		<td><a href="{$baseUrl}/resources/sr_1871.pdf">1871</a></td>
		<td><a href="{$baseUrl}/resources/sr_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sr_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sr_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sr_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>SES 1: non-manual high skilled:</td>
		<td><a href="{$baseUrl}/resources/hc1_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/hc1_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/hc1_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/hc1_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/hc1_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/hc1_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>SES 2: non-manual low skilled:</td>
		<td><a href="{$baseUrl}/resources/hc2_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/hc2_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/hc2_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/hc2_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/hc2_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/hc2_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>SES 3: manual high skilled:</td>
		<td><a href="{$baseUrl}/resources/hc3_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/hc3_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/hc3_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/hc3_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/hc3_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/hc3_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>SES 4: manual low skilled:</td>
		<td><a href="{$baseUrl}/resources/hc4_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/hc4_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/hc4_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/hc4_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/hc4_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/hc4_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>SES 5: manual unskilled:</td>
		<td><a href="{$baseUrl}/resources/hc5_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/hc5_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/hc5_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/hc5_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/hc5_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/hc5_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>RG's class 1: professional:</td>
		<td><a href="{$baseUrl}/resources/sc1_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sc1_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/sc1_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sc1_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sc1_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sc1_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>RG's class 2: non-manual skilled:</td>
		<td><a href="{$baseUrl}/resources/sc2_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sc2_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/sc2_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sc2_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sc2_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sc2_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>RG's class 3: manual skilled:</td>
		<td><a href="{$baseUrl}/resources/sc3_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sc3_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/sc3_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sc3_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sc3_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sc3_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>RG's class 4: manual semi-skilled:</td>
		<td><a href="{$baseUrl}/resources/sc4_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sc4_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/sc4_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sc4_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sc4_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sc4_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>RG's class 5: manual unskilled:</td>
		<td><a href="{$baseUrl}/resources/sc5_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sc5_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/sc5_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sc5_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sc5_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sc5_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>RG's class 6: textile workers:</td>
		<td><a href="{$baseUrl}/resources/sc6_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sc6_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/sc6_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sc6_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sc6_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sc6_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>RG's class 7: miners:</td>
		<td><a href="{$baseUrl}/resources/sc7_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sc7_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/sc7_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sc7_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sc7_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sc7_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>RG's class 8: agricultural labourers:</td>
		<td><a href="{$baseUrl}/resources/sc8_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/sc8_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/sc8_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/sc8_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/sc8_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/sc8_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Married women working:</td>
		<td><a href="{$baseUrl}/resources/fmar_prate_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/fmar_prate_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/fmar_prate_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/fmar_prate_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/fmar_prate_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/fmar_prate_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Single women working:</td>
		<td><a href="{$baseUrl}/resources/fnm_prate_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/fnm_prate_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/fnm_prate_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/fnm_prate_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/fnm_prate_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/fnm_prate_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Widowed women working:</td>
		<td><a href="{$baseUrl}/resources/fwid_prate_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/fwid_prate_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/fwid_prate_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/fwid_prate_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/fwid_prate_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/fwid_prate_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Domestic servants (women):</td>
		<td><a href="{$baseUrl}/resources/f_dom_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/f_dom_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/f_dom_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/f_dom_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/f_dom_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/f_dom_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Textile workers (female):</td>
		<td><a href="{$baseUrl}/resources/f_tex_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/f_tex_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/f_tex_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/f_tex_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/f_tex_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/f_tex_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Children per teacher:</td>
		<td><a href="{$baseUrl}/resources/c_teacher_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/c_teacher_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/c_teacher_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/c_teacher_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/c_teacher_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/c_teacher_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Girls aged 10-13 working:</td>
		<td><a href="{$baseUrl}/resources/f_cl_1013_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/f_cl_1013_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/f_cl_1013_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/f_cl_1013_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/f_cl_1013_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/f_cl_1013_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Boys aged 10-13 working:</td>
		<td><a href="{$baseUrl}/resources/m_cl_1013_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/m_cl_1013_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/m_cl_1013_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/m_cl_1013_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/m_cl_1013_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/m_cl_1013_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Girls aged 14-18 working:</td>
		<td><a href="{$baseUrl}/resources/f_cl_1418_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/f_cl_1418_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/f_cl_1418_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/f_cl_1418_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/f_cl_1418_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/f_cl_1418_1911.pdf">1911</a></td>
	</tr>
	<tr>
		<td>Boys aged 14-18 working:</td>
		<td><a href="{$baseUrl}/resources/m_cl_1418_1851.pdf">1851</a></td>
		<td><a href="{$baseUrl}/resources/m_cl_1418_1861.pdf">1861</a></td>
		<td></td>
		<td><a href="{$baseUrl}/resources/m_cl_1418_1881.pdf">1881</a></td>
		<td><a href="{$baseUrl}/resources/m_cl_1418_1891.pdf">1891</a></td>
		<td><a href="{$baseUrl}/resources/m_cl_1418_1901.pdf">1901</a></td>
		<td><a href="{$baseUrl}/resources/m_cl_1418_1911.pdf">1911</a></td>
	</tr>
</table>

<p>Maps of further variables will follow soon.</p>

<h2>Definitions of how each variable is calculated</h2>
<p><a href="{$baseUrl}/about/">Definitions of how each variable is calculated</a> are on the Overview page.</p>


<h2>Related websites</h2>

<table class="lines">
	<tr>
		<td><a target="_blank" href="http://www.datashine.org.uk/">DataShine Census</a></td>
		<td>Detailed mapping of the 2011 census of England and Wales.</td>
	</tr>
	<tr>
		<td><a target="_blank" href="http://www.visionofbritain.org.uk/">A Vision of Britain through Time</a></td>
		<td>A variety of information for particular places at different levels from the 19th century onwards.</td>
	</tr>
	<tr>
		<td><a target="_blank" href="http://www.histpop.org/">Histpop</a></td>
		<td>Online access to the complete British population reports for Britain and Ireland from 1801 to 1937.</td>
	</tr>
	<tr>
		<td><a target="_blank" href="http://icem.data-archive.ac.uk/">Integrated Census Microdata</a></td>
		<td>The census microdata on which this project is based.</td>
	</tr>
	<tr>
		<td><a target="_blank" href="https://www.campop.geog.cam.ac.uk/research/projects/victorianfertilitydecline/">An Atlas of Fertility Decline in England and Wales</a></td>
		<td>The website of our parent project.</td>
	</tr>
	<tr>
		<td><a target="_blank" href="https://www.campop.geog.cam.ac.uk/">The Cambridge Group for the History of Population and Social Structure</a></td>
		<td>The research unit which is the home of this website.</td>
	</tr>
	<tr>
		<td><a target="_blank" href="https://www.geog.cam.ac.uk/">Department of Geography, University of Cambridge</a></td>
		<td>The Department of Geography at the University of Cambridge, where this website was created.</td>
	</tr>
</table>
